<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Angulas Basics!</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
	<link href="styles/main.css" rel="stylesheet">
</head>
<body ng-app="todoListApp">

	<h1>My To-Dos / Minhas Tarefas </h1>

	<div class="list" ng-controller="mainCtrl">
		<div class="add">
			<a href="" ng-click="addTodo()">+ Add new todo</a>
		</div>
		<div class="item" ng-class="{ 'editing-item' : editing, 'edited' : todo.edited, 'completed' : todo.completed }" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
			<input ng-model="todo.completed" type="checkbox">
			<span ng-click="todo.completed = !todo.completed"></span>
			<label ng-hide="editing">{{todo.title}}</label>
			<input ng-show="editing" ng-blur="editing = false;" ng-change="edited = true" ng-model="todo.title" class="editing-label" type="text">
			<div class="actions">
				<a href="" ng-click="editing = !editing">edit</a>
				<a href="" ng-click="helloConsole()">save</a>
				<a href="" class="delete" ng-click="deleteTodo(todo, $index)">delete</a>
			</div>	
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/services/data.js"></script>
</body>
</html>
